[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
coverage = "*"
pytest-mock = "*"
pytest-django = "*"
codecov = "*"
pytest-cov = "*"

[packages]
requests = "*"
django = "*"
djangorestframework = "*"
django-filter = "*"
gunicorn = "*"
cloudinary = "*"
pillow = "*"
python-decouple = "*"

[requires]
python_version = "3.8"
